.my-class {
    color: white;
    background-color: black;
}

.my-class1 {
    color: darkcyan;
    background-color: coral;
}

.my_owner_header {
    position: relative;
    margin-top: 0px;
    width: 100%;
    color: black;
    font-size: 36px;

}